<template>
  <div>
    <b-card class="mx-auto my-5">
      <b-card-text>
        <h5 class="text-center">Login</h5>
        <b-row class="mt-3">
          <b-col cols="12">
            <b-form-group label="Username">
              <b-form-input v-model="username" placeholder="Input Username" />
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-form-group label="Password">
              <b-form-input
                v-model="password"
                type="password"
                placeholder="Input Password"
              />
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-button variant="primary" @click="loginNow">Login</b-button>
          </b-col>
        </b-row>
      </b-card-text>
    </b-card>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      username: null,
      password: null,
    }
  },
  methods: {
    loginNow() {
      if (this.username === 'admin' && this.password === 'mileapp') {
        this.$router.push('/view')
      } else {
        alert('Berhasil Login')
      }
    },
  },
}
</script>
<style>
/* .enableClick {
  cursor: pointer;
}
.floatButton {
  position: fixed;
  display: block;
  margin-top: 80vh;
  margin-left: 55%;
   bottom: 0;
  right: 0;
} */
</style>
