<template>
  <div>
    <GmapMap
      :center="{ lat: -6.208792, lng: 106.845778 }"
      :zoom="11"
      map-type-id="terrain"
      style="width: 1000px; height: 500px"
    >
      <GmapMarker
        v-for="(m, index) in locations"
        :key="index"
        :position="m"
        @click="center = m"
      />
    </GmapMap>
  </div>
</template>
<script>
export default {
  data() {
    return {
      locations: [
        {
          lat: -6.199781,
          lng: 106.832431,
          label: 'Taman Suropati',
        },
        {
          lat: -6.238049,
          lng: 106.852585,
          name: 'Tebet Eco Park',
        },
        {
          lat: -6.218253,
          lng: 106.80259,
          name: 'Moja Museum',
        },
        {
          lat: -6.211445,
          lng: 106.764254,
          name: 'Hutan Kota Srengseng',
        },
        {
          lat: -6.133103,
          lng: 106.784086,
          name: 'Taman Hutan Kota Penjaringan',
        },
      ],
    }
  },
  methods: {
    getPosition(item) {
      return {
        lat: parseFloat(item.lat),
        lng: parseFloat(item.lng),
      }
    },
  },
}
</script>
